*,*::before,*::after{
box-sizing:border-box; /*不計算padding 和 border*/
}

body {
    font-family: "Noto Sans TC", sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

img{
  width: 100%; /* 寬度適應父層區塊 */
  height: auto; /* 高度自動 */
  display: block; /* 把圖片變成區塊元素，清楚底部空隙 */
  object-fit: cover; /* 讓圖片填滿父層 */ 
  background-size: cover; /*圖片自動調整大小*/
}

.icon-social{
    width: 44px;
    height: 44px;
}

.flex-row{
    display: flex;
}

.wrap {
    /* max-width: 1920px; */
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 0;
}

@media(max-width:992) {
    .wrap {
        max-width: 992px;
        margin: 0 auto;
    }
}


.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid black; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav li a {
    text-decoration: none;

    font-size: 28px;
    color: black;
}


.latest-article {
    width: 100%;
    display: flex;
}

.latestarticle img {
    width: 50%;
    margin-right: 24px;
}

.latest-content {
    width: 50%;
    padding: 80px 120px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.latest-content time {
    font-size: 16px;
    margin-bottom: 4px;
}

.latest-content .hashtag {
    font-size: 24px;
    margin-bottom: 8px;
}

.latest-content .hashtag a {
    text-decoration: none;
    margin-right: 8px;
}

.latest-content .popular-article {
    background-color: blue;
    color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
}

.latest-content h1 {
    font-size: 28px;
    margin-bottom: 8px;
}


@media(max-width:992px) {
    .latest-article {
        width: 100%;
        /* display: flex; */
        flex-direction: column;
    }

    .latest-article img {
        width: 100%;
        margin-right: 0px;
    }

    .latest-content {
        width: 100%;
        padding: 48px 12px;
    }

    .latest-content time {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .latest-content .post-tag {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .latest-content .post-tag a {
        text-decoration: none;
        margin-right: 8px;
    }

    .latest-content .popular-article {
        background-color: blue;
        color: #fff;
        padding: 6px 12px;
        border-radius: 50px;
    }

    .latest-content h1 {
        font-size: 28px;
        margin-bottom: 8px;
    }

}

.article-content {
    padding: 80px 642px;
}

.article-content li {
    margin-bottom: 48px;
}

.article-content img{
    margin-bottom: 24px;
}

.article-content li h2 {
    font-size: 28px;
    font-weight: bold;
    color: blue;
    margin-bottom: 24px;
}

.article-content li p {
    font-size: 16px;
    font-weight: 450;
    color: black;
    margin-bottom: 8px;
}
.article-content li .content{
    font-size: 16px;
    font-weight: 450;
    color: black;
    margin-bottom: 24px;
}

.article-content li p span {
    color: blue;
}

.article-content li h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}

.article-content-tips {
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDEDED;
    border-radius: 20px;
}

.article-content-tips-content{
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDEDED;
    border-radius: 20px;
    margin-bottom: 24px;
}
.article-content-list{
    /* background-color: yellow; */
    margin-bottom: 24px;
}
.article-content li .article-content-list p {
    margin-bottom: 0;
}

.article-content-btngroup{
    display: flex;
    justify-content: space-between;
}

.article-content-btngroup button{
font-size: 16px;
font-weight: 600;
padding: 8px 16px;
color: #4b4b4b;
display: flex;
align-items: center;
background-color: #fff;
border-radius: 50px;
}


@media(max-width:992px) {
    .article-content {
        padding: 64px 12px;
    }

    .article-content li {
        margin-bottom: 48px;
    }

    .article-content li h2 {
        font-size: 28px;
        font-weight: bold;
        color: blue;
        margin-bottom: 24px;
    }

    .article-content li p {
        font-size: 16px;
        font-weight: 430;
        color: black;
    }
}

.contact-info {
    padding: 80px 312px;
    display: flex;
    justify-content: space-between;
}

.contact-info p {
    font-size: 32px;
    font-weight: 600;
}

@media(max-width:992px) {
    .contact-info {
        display: none;
    }
}

footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}