*,*::before,*::after{
box-sizing:border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #FBFBFB;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrap {  /* 滿版 1920px 不用特別設定 */
    /* max-width: 1920px; */
    padding: 0 0;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: #FBFBFB;
}

.header-placeholder {
    height: 90px;
}

.header ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px 0px;
}

.header li a {
    font-size: 28px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.header li a:hover {
    color: fuchsia;
}

/* .latest-article {
    width: 100%;
    display: flex;
} */
.latest-article {
    display: flex;
    align-items: stretch;
    height: 560px;
    gap: 24px;
    border: 1px solid #6C757D;
    border-radius: 8px;
    overflow: hidden;
}

/* .latestarticle img {
    width: 50%;
    margin-right: 24px;
} */

.latest-article img {
    display: block;
    /* width: 50%; */
    width: calc(50% - 12px);
    height: 100%;
    /* height: auto; */
    object-fit: cover;
    /* margin-right: 24px; */
}

.latest-content {
    width: 50%;
    padding: 80px 120px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.latest-content time {
    font-size: 16px;
    margin-bottom: 4px;
}

.hashtag {
    font-size: 24px;
}

.hashtag a {
    text-decoration: none;
    margin-right: 8px;
}

.hashtag a:hover {
    color: fuchsia;
}

.popular-article {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 40px;
    background-color: #0027D5;
}

.popular-article:hover {
    background-color: red;
    color: #fff;
}

.latest-content h1 {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.article-content {
    padding: 80px 642px;
}

.article-content li {
    margin-bottom: 48px;
}

.article-content img{
    margin-bottom: 24px;
}

.article-content li h2 {
    font-size: 28px;
    font-weight: bold;
    color: blue;
    margin-bottom: 24px;
}

.article-content li p {
    font-size: 16px;
    font-weight: 450;
    color: black;
    margin-bottom: 8px;
}
.article-content li .content{
    font-size: 16px;
    font-weight: 450;
    color: black;
    margin-bottom: 24px;
}

.article-content li p span {
    color: blue;
}

.article-content li h3 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}

.article-content-tips {
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDEDED;
    border-radius: 20px;
}

.article-content-tips-content{
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #EDEDED;
    border-radius: 20px;
    margin-bottom: 24px;
}
.article-content-list{
    /* background-color: yellow; */
    margin-bottom: 24px;
}
.article-content li .article-content-list p {
    margin-bottom: 0;
}

.article-content-btngroup{
    display: flex;
    justify-content: space-between;
}

.article-content-btngroup button{
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    color: #4b4b4b;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
}

/* .contact-info {
    padding: 80px 312px;
    display: flex;
    justify-content: space-between;
}

.contact-info p {
    font-size: 32px;
    font-weight: 600;
}

footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
} */

.contact-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1296px;
    padding: 80px 0;
    gap: 0px 24px;
}

.contact-info p {
    color:#000;
    font-size: 32px;
}

.contact-info a {
    text-decoration: none;
    color: #000;
}

.contact-info a:hover {
    color: fuchsia;
}

.social-icon {
    display: flex;
    justify-content: space-between;
}

.social-icon li {
    width: 44px;
    height: 44px;
}

.social-icon a {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social-icon a:hover {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: fuchsia;
}

.social-icon a:hover img,
.social-icon a:active img {
  filter: brightness(0.7);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.footer {
    color:#000;
    text-align: center;
    padding: 24px 0px;
}