*,*::before,*::after{
box-sizing:border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #FBFBFB;
    vertical-align: middle;
}

/* img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  background-size: cover;
} */
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* .wrap {
    max-width: 1920px;
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 0;
} */
.wrap {  /* 滿版 1920px 不用特別設定 */
    /* max-width: 1920px; */
    padding: 0 0;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background-color: #FBFBFB;
}

.header-placeholder {
    height: 90px;
}

.header a.active {
    color: orange;
    background: blue;
    font-weight: bold;
    border: 4px solid #00A600;    /* 加邊框，4px 寬 */
    border-radius: 6px;             /* 讓邊框有圓角 */
    padding: 4px 8px;               /* 增加內距，避免文字貼邊 */
}

.header ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px 0px;
}

.header li a {
    font-size: 28px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.header li a:hover {
    color: fuchsia;
}

.icon-social{
    width: 44px;
    height: 44px;
}

.icon-check{
    width: 16px;
    height: 16px;
    background: blue;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
}

.flex-row-reverse{
    flex-direction:row-reverse;
    justify-content: start;
}

.dash{
    border:1.25px solid blue;
    border-radius: 10PX;
    width: 28px;
    margin:19px 6px;
    /* padding:19px 0px; */
}
.ml-40{
    margin-left: -40px;
}
.mt-40{
    margin-top: -40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* border: 1px solid black; */
    padding-top: 24px;
    padding-bottom: 24px;
}

.header li a {
    text-decoration: none;

    font-size: 28px;
    color: black;
}

/* banner 區塊 */

.hero {
    width: 100%;
    display: flex;
}

.hero-image {
    width: 50%;
}

.hero-text {
    width: 50%;
    height: 834px;
    background-color: gray;
    background: url("./images/index/bg-index.png");
}

.hero-content {
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 80px;
    padding-right: 193px;
    color: #0027D5;
}

.hero-content h1 {
    font-size: 120px;
    font-weight: 900;
}

.hero-content p {
    font-size: 28px;
}

/* about */

.about {
    justify-content: end;
    margin-top: -180px;
    /* background-color: red; */
}

.about-content {
    width: 1077px;
    /* height: 362px; */
    /* border: 1px solid black; */
    padding: 80px 40px;
    margin-right: 80px;
    background-color: #fff;
}

.about-content p {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}

. ul {
    /* display: flex; */
    /* border:1px solid black; */
    justify-content: start;
    gap: 4px;
    padding-top: 13.55px;
    padding-bottom: 13.55px;

}

/* service 區塊 */

.service {
    /* background-color: red; */
    /* padding-top: 80px;
    padding-left: 312px; */
    padding: 80px 312px;
    width: 100%;
}

.service-title {
    font-size: 64px;
    margin-bottom: 32px;
}

.service-list li {
    /* width: 1076px; */
    /* align-items: center; */
    padding: 0 110px;
    margin-bottom: 64px;
}

.service-img {
    width: 636px;
}

.service-content {
    width: 480px;
    /* height: 210px; */
    padding: 24px;
    /* margin-left: -40px; */
    margin-top: 55px;
    margin-bottom: 55px;
    background-color: #fff;
    /* border: 1px solid black; */

}

.service-content img {
    width: 40px;
}

.service-content h2 {
    font-size: 28px;
}

.service-content p {
    font-size: 1rem;
    font-weight: 500;
    color: #4B4B4B;
}

.service-link {
    align-items: center;
    justify-content: end;
    /* border: 1px solid black; */
    width: 1296px;
    font-size: 28px;
    /* padding-right: 190px; */
}

.service-link p {
    margin-right: 8px;
}

.blog {
    width: 100%;
    padding: 80px 0px;
}

.blog-title {
    font-size: 64px;
    /* border:1px solid black; */
    margin-left: 312px;
}

.blog-list-section {
    margin-bottom: 160px;
}

.blog-list {
    margin-left: 312px;
    display: flex;
    gap: 24px;
    /* padding: 0px 68px; */
}

.blog-card {
    width: 416px;
}

.card-img {
    width: 100%;
    margin-bottom: 16px;
}

.card-content time {
    font-size: 16px;
}

.post-tag {
    display: flex;
    align-items: center;
}

.post-tag a {
    font-size: 24px;
    text-decoration: none;
    color: blue;
    font-weight: 500;
    margin-right: 8px;
}

.post-tag .card-tag {
    background-color: blue;
    color: #fff;
    padding: 6px 12px;
    border-radius: 50px;
}

.card-content h2 {
    font-size: 28px;
    font-weight: bold;
}

.card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 限制顯示 2 行 */
    overflow: hidden;
    margin-bottom: 16px;
}

.card-btn {
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    /* color: #4B4B4B; */
    background-color: #fff;
}

.card-btn:hover {
    background-color: #4B4B4B;
    color: #fff;
}

.blog-action {
    margin-left: 244px;
    width: 1432px;
    display: flex;
    justify-content: space-between;
    margin-top: -230px;
}

.blog-action a {
    display: inline-block;
}

.success-case {
    padding: 80px 312px;
}

.success-case-title h2 {
    font-size: 64px;
    margin-bottom: 24px;
}

.success-case-content {
    margin-bottom: 40px;
}

.success-case-tilteshow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleshow-img {
    width: 745px;
    padding: 24px;
    background-color: #EDEDED;
    /* background-color: red; */
    margin-right: 24px;
}

.success-case-tilteshow-content {
    width: 526px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success-case-content li {
    /* width: 526px; */
    padding: 80px 40px;
}

.success-case-content span {
    color: blue;
}

.success-case-dash-section {
    margin-bottom: 24px;
}

.success-case-content p {
    font-size: 16px;
    font-weight: bold;
}

.success-case-content-btn {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #fff;
    color: blue;
    border: solid blue;
}

.success-case-content-btn:hover {
    background-color: blue;
    color: white;
    transition: all 0.3s ease-in-out;
}

.success-case-list {
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.success-case-img {
    margin-bottom: 16px;
}

.success-case-list-h2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.success-case-list-pgroup {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.success-case-list-p {
    font-size: 16px;
    font-weight: 400;
    color: #4B4B4B;
    display: flex;
    gap: 4px;
    align-items: center;
}

/* .success-case-list-btn{
    margin-top: 16px;
} */
.success-case-list-btn a {
    display: inline-block;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: #4B4B4B;
}

.success-case-list-btn a:hover {
    color: white;
    background-color: #4B4B4B;
}

.newslitter {
    display: flex;

}

.newslitter-img {
    width: 50%;
}

.newlitter-sub {
    width: 50%;
    background: url('./images/Hero\ Section_r.png');
    padding: 80px 172px;
}

.newlitter-sub-input {
    padding: 80px;
    background-color: #fff;
}

.newlitter-sub h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 16px;
}

.newlitter-sub p {
    font-size: 20px;
    font-weight: 200;
    font-weight: 600;
    margin-bottom: 24px;

}

.newlitter-sub p span {
    color: #0027D5;
}

.newlitter-sub input {
    display: block;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #4B4B4B;
    width: 100%;
    margin-bottom: 8px;
    background-color: #F1F1F1;
    border: 0px;
    margin-bottom: 24px;
}

.newlitter-sub button {
    text-decoration: none;
    color: blue;
    padding: 8px 16px;
    border: 1px solid blue;
    border-radius: 30px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.contact-info {
    padding: 80px 312px;
}

.contact-info h2 {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 24px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

.email {
    margin-left: 8px;
    text-decoration: underline;
    color: black;
}

.email:hover {
    color: blue;
}

.contact-info p {
    display: flex;
    align-items: center;
}

.contact-info a {
    /* border:1px solid black; */
    text-align: end;
}

/* footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
} */
.footer {
    color:#000;
    text-align: center;
    padding: 24px 0px;
}